<template>
  <div class="data-table">
    <div class="data-table__filter">
      <ui-money v-model="moneyFilter" />
    </div>

    <div class="data-table__table">
      <ui-table
        :rows="rowsLayout"
        :columns="columns"
      />
    </div>

    <div class="data-table__paginator">
      <ui-pagination
        v-model="page"
        :pages="pageCount"
      />
    </div>
  </div>
</template>

<script>
export default {

  name: 'DataTable',

  props: {
    rows: {
      type: Array,
      required: true,
    },
    columns: {
      type: Array,
      required: true,
    },
  },

  data: () => ({
    page: 1,
    pageSize: 4,
    moneyFilter: 0,
  }),

  computed: {
    pageCount() {
      return Math.ceil(this.rows.length / this.pageSize);
    },
    rowsLayout() {
      const indexOfFirstElementOnCurrentPage = (this.page - 1) * this.pageSize;
      const indexOfLastElementOnCurrentPage = this.page * this.pageSize;
      return this.rows.slice(indexOfFirstElementOnCurrentPage, indexOfLastElementOnCurrentPage);
    },
  },
};
</script>
