<template>
  <input
    type="text"
    v-model="valueInput"
    class="ui-money"
    @keyup="inputValidate"
  />
</template>

<script>
export default {

  name: 'UiMoney',

  props: {
    value: {
      type: Number,
      require: true,
    },
  },

  data() {
    return {
      valueInput: '',
    };
  },
  mounted() {
    this.valueInput = this.value;
    this.inputValidate();
  },
  methods: {
    inputValidate() {
      if (!this.valueInput) {
        this.$emit('input', 0);
        this.valueInput = '';
        return;
      }
      this.valueInput = this.valueInput
        .replace(',', '.')
        .replace(/[^.\d]+/g, '')
        .replace(/^([^.]*\.)|\./g, '$1');
      if (this.valueInput.includes('.')) {
        if (this.valueInput.indexOf('.') === this.valueInput.length - 1) {
          const valueInputStrWithoutDot = this.valueInput.slice(0, -1);
          this.valueInput = Number.parseFloat(valueInputStrWithoutDot);
          this.$emit('input', this.valueInput);
          this.valueInput = `${new Intl.NumberFormat('ru-RU').format(this.valueInput)}.`;
          return;
        }
        this.valueInput = Number.parseFloat(this.valueInput);
      } else {
        this.valueInput = Number.parseInt(this.valueInput, 10);
      }
      this.$emit('input', this.valueInput);
      this.valueInput = new Intl.NumberFormat('ru-RU').format(this.valueInput);
      this.valueInput = this.valueInput.replace(',', '.');
    },
  },
};
</script>
