<template>
  <div class="table">
    <div v-if="!needSmallLayout">
      <div class="table__row">
        <div
          v-for="column in columns"
          :key="column.prop"
          class="table__row--cell cell-header"
          :style="'width:' + column.width"
        >
          {{ column.label }}
        </div>
      </div>
      <div v-for="row in rowsLayout" :key="row.id" class="table__row">
        <div
          v-for="column in columns"
          :key="column.prop"
          class="table__row--cell cell-body"
          :style="'width:' + column.width"
        >
          {{ row[column.prop] }}
        </div>
      </div>
    </div>
    <div v-else v-for="row in rowsLayout" :key="row.id" class="table__row">
      <div v-for="column in columns" :key="column.prop" class="table__row--cell">
          <div class="cell-header">
            {{ column.label }}
          </div>
          <div class="cell-body">
            {{ row[column.prop] }}
          </div>
        </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Table',
  props: {
    rows: {
      type: Array,
      required: true,
    },
    columns: {
      type: Array,
      required: true,
    },
  },
  data: () => ({
    screenWidth: null,
  }),
  computed: {
    needSmallLayout() {
      return !!(this.screenWidth && this.screenWidth <= 768);
    },
    rowsLayout() {
      return this.rows.map((el) => ({
        id: el.id,
        date: this.setDateFormat(el.date),
        name: el.name,
        money: this.setMoneyFormat(el.money),
      }));
    },
  },
  mounted() {
    this.setWindowWidth();
    window.addEventListener('resize', this.debounce(this.setWindowWidth, 250));
  },
  destroyed() {
    window.removeEventListener('resize', this.setWindowWidth);
  },
  methods: {
    setWindowWidth() {
      this.screenWidth = window.innerWidth;
    },
    setDateFormat(str) {
      if (typeof str === 'number' || new Date(str) === 'Invalid date') return 'Invalid date';
      const options = {
        year: 'numeric',
        month: 'numeric',
        day: 'numeric',
        timezone: 'UTC',
      };

      return new Date(str).toLocaleString('ru', options);
    },
    setMoneyFormat(number) {
      if (typeof number !== 'number') return 'Invalid money';
      return new Intl.NumberFormat('ru-RU').format(number).replace(',', '.');
    },
    debounce(f, t) {
      return (args) => {
        const previousCall = this.lastCall;
        this.lastCall = Date.now();
        if (previousCall && ((this.lastCall - previousCall) <= t)) {
          clearTimeout(this.lastCallTimer);
        }
        this.lastCallTimer = setTimeout(() => f(args), t);
      };
    },
  },
};
</script>

<style lang="scss" scoped>
.table {
  width: 100%;
  margin: 15px 0;
  border: 3px solid #e5e5e5;
  background-color: white;

  &__row {
    display: flex;

    &--cell {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &--cell:not(:last-child) {
      border-right: 3px solid #e5e5e5;
    }
  }

  &__row:not(:first-child) {
    border-top: 3px solid #e5e5e5;
  }
}
.cell-header {
  font-weight: 500;
  padding: 5px 0;
}
.cell-body {
  padding: 10px 0;
}
@media (max-width: 768px) {
  .table {
    border: 0;
    &__row {
      display: block;
      margin: 10px 0;
      border: 3px solid #e5e5e5;

      &--cell {
        display: block;
        margin-left: 10px;
        margin-bottom: 10px;
      }
      &--cell:first-child {
        margin-top: 10px;
      }
      &--cell:not(:last-child) {
        border-right: 0;
      }
    }
  }
  .cell-body {
    padding: 0;
  }
}
</style>
